.profile{
    margin-right: 2%;
}

.pic{
    width: 32px;
    height: 32px;
    background-color: black;
}

.profileCard{
    height: 240px;
    width: 180px;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    right: 20%;
    background-color: aqua;
    flex-direction: column;
}

.avatarContainer{
    flex: 8;
    background-color: blueviolet;
}

.avatarContainer > img{
    width: 120x;
    height: 120px;
}

.name{
    flex: 4;
}