@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;900&display=swap");
.chats {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  flex: 9;
  max-height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid rgb(46, 46, 46);
}
